{{ $params := . }}

{{ $page := $params.page }}
{{ $url := $params.url }}

{{ $result := "" }}

{{ $u := $url | urls.Parse }}

{{ if $u.IsAbs }}
    {{ with resources.GetRemote $u.String }}
        {{ $result = . }}
    {{ end }}
{{ else }}
    {{ with $page.Resources.GetMatch $u.Path }}
        {{ $result = . }}
    {{ else }}
        {{ with $page.Resources.Get $u.Path }}
            {{ $result = . }}
        {{ else }}
            {{ with resources.GetMatch $u.Path }}
                {{ $result = . }}
            {{ else }}
                {{ with resources.Get $u.Path }}
                    {{ $result = . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not $result }}
    {{ errorf "invalid resource: %q" $url }}
{{ end }}

{{ return $result }}
